In [1]:
import pandas as pd

In [2]:
city_data = pd.read_csv("Resources/cities.csv", index_col=0)
city_data.head()

,city,lat,lon,maxtemp,humidity,cloudiness,windspeed,country,datetime
0,jalu,29.03,21.55,59.20,35,0,11.54,LY,1607229534
1,butaritari,3.07,172.79,82.04,78,90,12.48,KI,1607229534
2,port elizabeth,-33.92,25.57,66.20,93,90,10.29,ZA,1607229449
3,yar-sale,66.83,70.83,11.26,94,92,10.40,RU,1607229534
4,lebu,-37.62,-73.65,52.09,92,96,12.15,CL,1607229534

In [5]:
city_html = city_data.to_html()

In [9]:
text_file = open("data_html.html", "w")
text_file.write(city_html)
text_file.close()